/*
* Hover Style
*/
.hover-styled {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.hover-styled:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

/************ nav bar ***/
.logo a img {
    width: 100px;
    height: 100px;
    margin-top: -30px;
}

.hero-two-right {
    width: 475px;
    height: 634px;
}
.hero-two-right img {
    width: 100%;
    height: 100%;
}
.hero-two-left {
    width: 455px;
    height: 641px;
}
.hero-two-left img {
    width: 100%;
    height: 100%;
}

.menu-btn-sidebar a {
    border-radius: 20px;
    display: inline-block;
    padding: 8px 23px;
    font-weight: 700;
}

.EnglishSchool-btn{
    background-color: #A00434;
    font-size: 12px; 
    border-radius: .3rem;
}

@media screen and (min-width: 991px) {
    .EnglishSchool-btn{
        background-color: #A00434;
        font-size: 9px; 
        border-radius: .3rem;
    }
}

.counseling-img {
margin: auto;
}
/************* header ***************/
.section {
    padding: 70px 0;
}
.featured-services {
    text-align: center;
    margin: 0 -15px;
}
.featured-services .box1 {
    padding: 25px 15px 15px;
}

.box-shadow {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 576px) {
    .featured-services .box1 {
        width: calc(100% / 2 - 4px);
        display: inline-block;
        vertical-align: top;
    }
}
@media screen and (min-width: 992px) {
    .featured-services .box1 {
        width: calc(100% / 3 - 4px);
    }
}

@media screen and (min-width: 1200px) {
    .featured-services .box1 {
        width: calc(100% / 6 - 4px);
    }
}

.featured-services .box1 .inner {
    min-height: 240px;
    padding: 25px 15px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.box1 .figure {
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    position: relative;
}

.box1 .figure::before {
    width: 50%;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 210px;
    transform: translateY(-50%);
    transition-duration: .6s;
    content: "";
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    opacity: 0.1;
    z-index: -1;
    margin: auto;
}
.box1 .figure:hover::before {
    scale:50%;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 215px;
    transform: translateY(30%);
    transition-duration: .6s;
    content: "";
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    opacity: 0.1;
    z-index: -1;
}

.featured-services .box1:nth-child(2) .figure {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 53% 47% 51% 49% / 46% 48% 52% 54%  ;
}

.featured-services .box1:nth-child(2) .figure::before {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 53% 47% 51% 49% / 46% 48% 52% 54%  ;
}

.featured-services .box1:nth-child(3) .figure {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 58% 42% 47% 53% / 46% 48% 52% 54% ;
}

.featured-services .box1:nth-child(3) .figure::before {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 58% 42% 47% 53% / 46% 48% 52% 54% ; 
}

.featured-services .box1:nth-child(4) .figure {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 47% 53% / 46% 52% 48% 54%  ; 
}

.featured-services .box1:nth-child(4) .figure::before {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 47% 53% / 46% 52% 48% 54% ; 
}

.featured-services .box1:nth-child(5) .figure {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 47% 53% / 50% 49% 51% 50%  ; 
}

.featured-services .box1:nth-child(5) .figure::before {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 47% 53% / 50% 49% 51% 50%  ; 
}
.featured-services .box1:nth-child(6) .figure {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 55% 45% / 50% 49% 51% 50%  ; 
}
.featured-services .box1:nth-child(6) .figure::before {
    background: rgb(92,218,254);
    background: radial-gradient(circle, rgb(98, 186, 244) 0%, rgba(23,122,232,1) 100%);
    border-radius: 51% 49% 55% 45% / 50% 49% 51% 50% ; 
}

.custom-textstyle {
    font-weight: 700;
    text-shadow: 1px 1px 10px #28282874;
}
.box1 .figure > img {
    width: 45px;
}

.featured-services h5 {
    font-size: 1rem;
    font-weight: 600;
}

/* .about-us {
    background: #f5f5f5;
} */

.about-us .container {
    padding: 20px;
    background: #278ACD;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #9e9e9e;
    transition-duration: .5s;
}

.about-us .container:hover {
    padding: 20px;
    background: #278ACD;
    border-radius: 1rem;
    box-shadow: 0px 6px 6px 0px #9e9e9e;
}

.about-us .circle-styled::before {
    display: none;
}

.services-section {
background-color: #278ACD ;
}

.services-section .category-item a {
    color: #b71616;
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.services-section .category-item a:hover {
    font-size: 13px;
    color: #278acd;
}
