/*
* Hover Style
*/
.hover-styled {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.hover-styled:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

/**** nav bar */
.logo a img {
    width: 100px;
    height: 100px;
    margin-top: -30px;
}

/* .hero-two-right {
    width: 475px;
    height: 634px;
} */
.hero-two-right img {
    max-width: 100%;
    max-height: 100%;
}
/* .hero-two-left {
    width: 455px;
    height: 641px;
} */
.hero-two-left img {
    max-width: 100%;
    max-height: 100%;
}
.menu-btn-sidebar {
    padding: 0 3% 0 3%;
}

.menu-btn-sidebar a {
    border-radius: 20px;
    display: inline-block;
    /* padding: 8px 23px; */
    padding: 8px 17px;
    font-weight: 700;
}

.counseling-img {
    margin: auto;
}

.admission-bullet {
    width: 30px;
    height: 30px;
}

.aboutrbn-li {
    display: flex;
}

.visaService-li {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.visaService-li p {
    text-align: justify;
}

.visaService-bullet {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/************* header ***************/
.section {
    padding: 70px 0;
}
.featured-services {
    text-align: center;
    margin: 0 -15px;
}
.featured-services .box1 {
    padding: 25px 15px 15px;
}

.box-shadow {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 576px) and (max-width: 646px) {
    .featured-services .box1 {
        width: calc(100% / 2 - 4px);
        display: inline-block;
        vertical-align: top;
    }

    /* ///////////////////////////////////////////// */
    .featured-services {
        margin: auto;
        margin-left: 8%;
    }

    /* /////////////////////////////////////////////// */
}

/* //////////////////////////////////// */
@media (min-width: 647px) and (max-width: 991px) {
    .featured-services {
        margin: auto;
        margin-left: 17%;
    }
}
/* ///////////////////////////////////// */
@media screen and (min-width: 992px) {
    .featured-services .box1 {
        width: calc(100% / 3 - 4px);
    }
}

/* ///////////////////////////////////// */
@media (min-width: 1000px) and (max-width: 1198px) {
    .featured-services {
        margin-left: 11%;
    }
}

/* ////////////////////////////////// */

@media screen and (min-width: 1200px) {
    .featured-services .box1 {
        width: calc(100% / 6 - 4px);
    }
}

.featured-services .box1 .inner {
    min-height: 240px;
    padding: 25px 15px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.box1 .figure {
    width: 172px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    position: relative;
}

.box1 .figure::before {
    width: 50%;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 190px;
    transform: translateY(-50%);
    transition-duration: 0.6s;
    content: "";
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    opacity: 0.1;
    z-index: -1;
    margin: auto;
}

.box1 .figure:hover::before {
    scale: 50%;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 215px;
    transform: translateY(30%);
    transition-duration: 0.6s;
    content: "";
    background: rgb(92, 218, 254);
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    opacity: 0.1;
    z-index: -1;
}

.featured-services .box1:nth-child(2) .figure {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 53% 47% 51% 49% / 46% 48% 52% 54%;
}

.featured-services .box1:nth-child(2) .figure::before {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 53% 47% 51% 49% / 46% 48% 52% 54%;
}

.featured-services .box1:nth-child(3) .figure {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 58% 42% 47% 53% / 46% 48% 52% 54%;
}

.featured-services .box1:nth-child(3) .figure::before {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 58% 42% 47% 53% / 46% 48% 52% 54%;
}

.featured-services .box1:nth-child(4) .figure {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 47% 53% / 46% 52% 48% 54%;
}

.featured-services .box1:nth-child(4) .figure::before {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 47% 53% / 46% 52% 48% 54%;
}

.featured-services .box1:nth-child(5) .figure {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 47% 53% / 50% 49% 51% 50%;
}

.featured-services .box1:nth-child(5) .figure::before {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 47% 53% / 50% 49% 51% 50%;
}
.featured-services .box1:nth-child(6) .figure {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 55% 45% / 50% 49% 51% 50%;
}
.featured-services .box1:nth-child(6) .figure::before {
    background: #d61734;
    background: radial-gradient(circle, #fc3b54 0%, #a00434 100%);
    border-radius: 51% 49% 55% 45% / 50% 49% 51% 50%;
}

.custom-textstyle {
    font-size: 95%;
    margin: 0 1.2rem;
    font-weight: 700;
    text-shadow: 1px 1px 10px #28282874;
    /* font-size: small; */
}
.box1 .figure > img {
    width: 45px;
}

.admission_assistance_list_style {
    display: flex;
}
.admission-bullet {
    margin-inline: 4%;
}

.admission_assistance_list_para {
    width: 258%;
}
